<%- include ('header')%>
<div
  class="text-center text-2xl font-bold m-3 hover:scale-125 hover:duration-1000 hover:cursor-pointer"
>
  Gallery
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ">
  <img
    src="https://images.unsplash.com/photo-1551179939-b839002d0a18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1523379204-ac6d21e877f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1487528001669-63c47a53fd39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBlcnNvbnxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />

  <img
    src="https://images.unsplash.com/photo-1531493247453-ebe4cbddb2b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNjZW5lc3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1583777620797-5e0a34794f74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29va2luZ3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1590091626142-167ee3798ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29va2luZ3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />

  <img
    src="https://images.unsplash.com/photo-1634833938267-e3cffb8c44d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1626385158385-4294a62fc25b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmF0dXJlJTIwYmFja2dyb3VuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1630490226740-a7571283ea08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />

  <img
    src="https://images.unsplash.com/photo-1632395901094-9407056a60ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1632721708054-124a7033d638?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
  <img
    src="https://images.unsplash.com/photo-1485541653056-e688bdf8319e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJlJTIwYmFja2dyb3VuZHMlMjB3YXRlciUyMHJpcHBsZSUyMHJlZmxlY3Rpb258ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    alt=""
    class="rounded-3xl m-4 w-5/6 hover:scale-105 hover:duration-500"
  />
</div>

<%- include ('footer')%>
