<%- include('header')%>


<div role="status" class="space-y-8 md:space-y-0 md:space-x-8 md:flex md:items-center">
    <img src="https://images.unsplash.com/photo-1551074659-f12c57f205b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" class="flex justify-center items-center w-full h-full bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
        
</img>
    <div class="w-full">
        We are a team of Highly Skilled Photographers.
        Our mission is to capture beautiful moments. 
</div></div>



<%- include('footer')%>